In [1]:
import numpy as np
import pandas as pd
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv('credit_data.csv')

In [3]:
df.head()

   clientid       income        age         loan  default
0         1  66155.92510  59.017015  8106.532131        0
1         2  34415.15397  48.117153  6564.745018        0
2         3  57317.17006  63.108049  8020.953296        0
3         4  42709.53420  45.751972  6103.642260        0
4         5  66952.68885  18.584336  8770.099235        1

In [4]:
df.shape

(2000, 5)

In [5]:
df.isnull().sum()

clientid    0
income      0
age         3
loan        0
default     0
dtype: int64

In [6]:
df['age'].fillna(df['age'].median(),inplace=True)

In [7]:
df.isnull().sum()

clientid    0
income      0
age         0
loan        0
default     0
dtype: int64

In [8]:
x=df
y=df.default

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2 ,random_state=3)

In [10]:
print(df.default.std())

0.34862375028048936

In [11]:
df['default'].value_counts()

default
0    1717
1     283
Name: count, dtype: int64

In [12]:
legit=df[df.default==0]
fraudulent=df[df.default==1]

In [13]:
print(legit.shape,fraudulent.shape)

(1717, 5) (283, 5)

In [14]:
legit_sample=legit.sample(n=200)

In [15]:
new_dataset=pd.concat([legit_sample,fraudulent],axis=0)

In [16]:
new_dataset.head()

      clientid       income        age         loan  default
1341      1342  50167.67175  42.047488  5592.651807        0
1265      1266  34476.70638  23.350987   898.133907        0
520        521  32804.90449  62.294391  4961.255680        0
633        634  38500.00065  53.930691  7571.682318        0
869        870  65000.81962  21.699700  1114.914824        0

In [17]:
new_dataset['default'].value_counts()

default
1    283
0    200
Name: count, dtype: int64

In [18]:
df.describe()

          clientid        income          age          loan      default
count  2000.000000   2000.000000  2000.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.808324   4444.369695     0.141500
std     577.494589  14326.327119    13.614256   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459720    29.012888   1939.708847     0.000000
50%    1000.500000  45789.117310    41.317159   3974.719418     0.000000
75%    1500.250000  57791.281670    52.582340   6432.410625     0.000000
max    2000.000000  69995.685580    63.971796  13766.051240     1.000000

In [19]:
df['default'].value_counts()

default
0    1717
1     283
Name: count, dtype: int64

In [20]:
df.groupby('default').mean()

            clientid        income        age         loan
default
0        1005.221899  45318.317216  43.182905  3978.171771
1         971.851590  45412.188607  26.401412  7272.856747

In [21]:
X = df.drop(columns='default', axis=1)
Y = df['default']

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, stratify=Y, random_state=1)

In [23]:
print(X.shape, X_train.shape, X_test.shape)

(2000, 4) (1800, 4) (200, 4)

In [24]:
model = LogisticRegression()

In [25]:
model.fit(X_train, Y_train)

LogisticRegression()

In [26]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [27]:
print('Accuracy on training data : ', training_data_accuracy)

Accuracy on training data :  0.9105555555555556

In [28]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [29]:
print('Accuracy on test data : ', test_data_accuracy)

Accuracy on test data :  0.93

In [30]:
input_data = (1,66155.9251,59.01701507,8106.532131)
input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]=='legit'):
  print('legit')
else:
  print('fraudulent')

[0]
fraudulent

/home/manav/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(